<!DOCTYPE HTML>
<!DOCTYPE html PUBLIC "" "">
<HTML class="yui3-js-enabled" lang="en" lang="en"
      dir="ltr" xml:lang="en">
<DIV id="yui3-css-stamp" style="visibility: hidden !important; position: absolute !important;"></DIV>
<HEAD>
    <META content="IE=11.0000" http-equiv="X-UA-Compatible">

    <SCRIPT src="https://www.google-analytics.com/analytics.js" type="text/javascript" async=""></SCRIPT>

    <SCRIPT src="//www.googletagmanager.com/gtm.js?id=GTM-PPS2SH" async=""></SCRIPT>

    <SCRIPT src="//cdn3.optimizely.com/js/geo2.js" type="text/javascript" async=""></SCRIPT>

    <META http-equiv="X-UA-Compatible" content="IE=edge">
    <TITLE>
        L192 TMA 03
        (writing)
    </TITLE>
    <LINK href="https://learn2.open.ac.uk/theme/image.php/ou/theme/1456906587/favicon"
          rel="shortcut icon"> <!-- ou-head v1.0.0.331 --> <!-- Google Tag Manager Generic Data Layer --> <!-- Make sure any site specific layers happen before this line -->
    <SCRIPT>/*<![CDATA[*/dataLayer = [];/*]]>*/</SCRIPT>
    <!-- End Google Tag Manager Generic Data Layer -->
    <LINK href="/ouheaders/gui/headerfooter.css?1.0.0.331"
          rel="stylesheet" type="text/css" media="screen, projection"> <!--[if lt IE 9]><link rel="stylesheet" href="/ouheaders/gui/header-footer-ie.css" /><![endif]-->
    <LINK href="/ouheaders/gui/headerfooter-print.css?1.0.0.331" rel="stylesheet"
          media="print"> <!-- Start JS replacement --><!-- Everything between these tags will be replaced with a .min file containing the contents of the .js folder -->
    <SCRIPT src="/ouheaders/js/ou-cookie-policy.js?1.0.0.331" type="text/javascript">//</SCRIPT>

    <SCRIPT src="/ouheaders/js/ou-header.js?1.0.0.331" type="text/javascript">//</SCRIPT>

    <SCRIPT src="/ouheaders/js/ou-translate.js?1.0.0.331" type="text/javascript">//</SCRIPT>
    <!-- End JS replacement -->
    <SCRIPT>
/*<![CDATA[*/
      var ou_opt_script = document.createElement("script");
      ou_opt_script.setAttribute("src",  "//cdn.optimizely.com/js/" +
      getOptimizelyID()
     + ".js" );
      (document.head || document.getElementsByTagName("head")[0]).appendChild(ou_opt_script);
      /*]]>*/</SCRIPT>

    <SCRIPT src="//cdn.optimizely.com/js/221317523.js"></SCRIPT>
    <!-- End ou-head v1.0.0.331 -->
    <LINK href="/includes/studenthome-header-2012.css"
          rel="stylesheet" type="text/css">
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META name="keywords" content="moodle, L192 TMA 03 (writing)">
    <SCRIPT type="text/javascript">
//<![CDATA[
var M = {}; M.yui = {};
M.pageloadstarttime = new Date();
M.cfg = {"wwwroot":"https:\/\/learn2.open.ac.uk","sesskey":"thLuJIxuUE","loadingicon":"https:\/\/learn2.open.ac.uk\/theme\/image.php\/ou\/core\/1456906587\/i\/loading_small","themerev":"1456906587","slasharguments":1,"theme":"ou","jsrev":"1457001084","admin":"admin","svgicons":true};var yui1ConfigFn = function(me) {if(/-skin|reset|fonts|grids|base/.test(me.name)){me.type='css';me.path=me.path.replace(/\.js/,'.css');me.path=me.path.replace(/\/yui2-skin/,'/assets/skins/sam/yui2-skin')}};
var yui2ConfigFn = function(me) {var parts=me.name.replace(/^moodle-/,'').split('-'),component=parts.shift(),module=parts[0],min='-min';if(/-(skin|core)$/.test(me.name)){parts.pop();me.type='css';min=''};if(module){var filename=parts.join('-');me.path=component+'/'+module+'/'+filename+min+'.'+me.type}else me.path=component+'/'+component+'.'+me.type};
YUI_config = {"debug":false,"base":"https:\/\/learn2.open.ac.uk\/lib\/yuilib\/3.17.2\/","comboBase":"https:\/\/learn2.open.ac.uk\/theme\/yui_combo.php?","combine":true,"filter":null,"insertBefore":"firstthemesheet","groups":{"yui2":{"base":"https:\/\/learn2.open.ac.uk\/lib\/yuilib\/2in3\/2.9.0\/build\/","comboBase":"https:\/\/learn2.open.ac.uk\/theme\/yui_combo.php?","combine":true,"ext":false,"root":"2in3\/2.9.0\/build\/","patterns":{"yui2-":{"group":"yui2","configFn":yui1ConfigFn}}},"moodle":{"name":"moodle","base":"https:\/\/learn2.open.ac.uk\/theme\/yui_combo.php?m\/1457001084\/","combine":true,"comboBase":"https:\/\/learn2.open.ac.uk\/theme\/yui_combo.php?","ext":false,"root":"m\/1457001084\/","patterns":{"moodle-":{"group":"moodle","configFn":yui2ConfigFn}},"filter":null,"modules":{"moodle-core-actionmenu":{"requires":["base","event","node-event-simulate"]},"moodle-core-blocks":{"requires":["base","node","io","dom","dd","dd-scroll","moodle-core-dragdrop","moodle-core-notification"]},"moodle-core-checknet":{"requires":["base-base","moodle-core-notification-alert","io-base"]},"moodle-core-chooserdialogue":{"requires":["base","panel","moodle-core-notification"]},"moodle-core-dock":{"requires":["base","node","event-custom","event-mouseenter","event-resize","escape","moodle-core-dock-loader"]},"moodle-core-dock-loader":{"requires":["escape"]},"moodle-core-dragdrop":{"requires":["base","node","io","dom","dd","event-key","event-focus","moodle-core-notification"]},"moodle-core-event":{"requires":["event-custom"]},"moodle-core-formautosubmit":{"requires":["base","event-key"]},"moodle-core-formchangechecker":{"requires":["base","event-focus"]},"moodle-core-handlebars":{"condition":{"trigger":"handlebars","when":"after"}},"moodle-core-lockscroll":{"requires":["plugin","base-build"]},"moodle-core-maintenancemodetimer":{"requires":["base","node"]},"moodle-core-notification":{"requires":["moodle-core-notification-dialogue","moodle-core-notification-alert","moodle-core-notification-confirm","moodle-core-notification-exception","moodle-core-notification-ajaxexception"]},"moodle-core-notification-dialogue":{"requires":["base","node","panel","escape","event-key","dd-plugin","moodle-core-widget-focusafterclose","moodle-core-lockscroll"]},"moodle-core-notification-alert":{"requires":["moodle-core-notification-dialogue"]},"moodle-core-notification-confirm":{"requires":["moodle-core-notification-dialogue"]},"moodle-core-notification-exception":{"requires":["moodle-core-notification-dialogue"]},"moodle-core-notification-ajaxexception":{"requires":["moodle-core-notification-dialogue"]},"moodle-core-popuphelp":{"requires":["moodle-core-tooltip"]},"moodle-core-tooltip":{"requires":["base","node","io-base","moodle-core-notification-dialogue","json-parse","widget-position","widget-position-align","event-outside","cache-base"]},"moodle-core_availability-form":{"requires":["base","node","event","panel","moodle-core-notification-dialogue","json"]},"moodle-backup-backupselectall":{"requires":["node","event","node-event-simulate","anim"]},"moodle-backup-confirmcancel":{"requires":["node","node-event-simulate","moodle-core-notification-confirm"]},"moodle-calendar-info":{"requires":["base","node","event-mouseenter","event-key","overlay","moodle-calendar-info-skin"]},"moodle-course-categoryexpander":{"requires":["node","event-key"]},"moodle-course-dragdrop":{"requires":["base","node","io","dom","dd","dd-scroll","moodle-core-dragdrop","moodle-core-notification","moodle-course-coursebase","moodle-course-util"]},"moodle-course-formatchooser":{"requires":["base","node","node-event-simulate"]},"moodle-course-management":{"requires":["base","node","io-base","moodle-core-notification-exception","json-parse","dd-constrain","dd-proxy","dd-drop","dd-delegate","node-event-delegate"]},"moodle-course-modchooser":{"requires":["moodle-core-chooserdialogue","moodle-course-coursebase"]},"moodle-course-toolboxes":{"requires":["node","base","event-key","node","io","moodle-course-coursebase","moodle-course-util"]},"moodle-course-util":{"requires":["node"],"use":["moodle-course-util-base"],"submodules":{"moodle-course-util-base":{},"moodle-course-util-section":{"requires":["node","moodle-course-util-base"]},"moodle-course-util-cm":{"requires":["node","moodle-course-util-base"]}}},"moodle-form-dateselector":{"requires":["base","node","overlay","calendar"]},"moodle-form-passwordunmask":{"requires":["node","base"]},"moodle-form-shortforms":{"requires":["node","base","selector-css3","moodle-core-event"]},"moodle-form-showadvanced":{"requires":["node","base","selector-css3"]},"moodle-core_message-messenger":{"requires":["escape","handlebars","io-base","moodle-core-notification-ajaxexception","moodle-core-notification-alert","moodle-core-notification-dialogue","moodle-core-notification-exception"]},"moodle-question-chooser":{"requires":["moodle-core-chooserdialogue"]},"moodle-question-preview":{"requires":["base","dom","event-delegate","event-key","core_question_engine"]},"moodle-question-qbankmanager":{"requires":["node","selector-css3"]},"moodle-question-searchform":{"requires":["base","node"]},"moodle-availability_completion-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-availability_date-form":{"requires":["base","node","event","io","moodle-core_availability-form"]},"moodle-availability_grade-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-availability_group-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-availability_grouping-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-availability_otheractivity-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-availability_profile-form":{"requires":["base","node","event","moodle-core_availability-form"]},"moodle-qtype_ddimageortext-dd":{"requires":["node","dd","dd-drop","dd-constrain"]},"moodle-qtype_ddimageortext-form":{"requires":["moodle-qtype_ddimageortext-dd","form_filepicker"]},"moodle-qtype_ddmarker-dd":{"requires":["node","event-resize","dd","dd-drop","dd-constrain","graphics"]},"moodle-qtype_ddmarker-form":{"requires":["moodle-qtype_ddmarker-dd","form_filepicker","graphics","escape"]},"moodle-qtype_ddwtos-dd":{"requires":["node","dd","dd-drop","dd-constrain"]},"moodle-qtype_pmatchjme-jsme":{"requires":["node","event"]},"moodle-qtype_stack-input":{"requires":["node","event-valuechange","moodle-core-event","io","json-parse"]},"moodle-mod_assign-history":{"requires":["node","transition"]},"moodle-mod_audiorecorder-adpcm":{"requires":["base"]},"moodle-mod_audiorecorder-audio":{"requires":["base","moodle-mod_audiorecorder-adpcm"]},"moodle-mod_audiorecorder-html5recorder":{"requires":["base","node","transition","moodle-mod_audiorecorder-audio","moodle-mod_audiorecorder-adpcm","event","event-valuechange","moodle-core-notification","io"]},"moodle-mod_forum-subscriptiontoggle":{"requires":["base-base","io-base"]},"moodle-mod_forumng-savecheck":{"requires":["base","node","io","moodle-core-notification-alert"]},"moodle-mod_forumng-tagselector":{"requires":["base","node","autocomplete","autocomplete-filters","autocomplete-highlighters"]},"moodle-mod_oublog-savecheck":{"requires":["base","node","io","panel","moodle-core-notification-alert"]},"moodle-mod_oublog-tagselector":{"requires":["base","node","autocomplete","autocomplete-filters","autocomplete-highlighters"]},"moodle-mod_oucontent-voicerecorder":{"requires":["base","node","moodle-mod_audiorecorder-audio","moodle-mod_audiorecorder-adpcm","event","event-valuechange","moodle-core-notification-alert","moodle-core-notification-confirm","io","button-plugin","graphics"]},"moodle-mod_quiz-autosave":{"requires":["base","node","event","event-valuechange","node-event-delegate","io-form"]},"moodle-mod_quiz-dragdrop":{"requires":["base","node","io","dom","dd","dd-scroll","moodle-core-dragdrop","moodle-core-notification","moodle-mod_quiz-quizbase","moodle-mod_quiz-util-base","moodle-mod_quiz-util-page","moodle-mod_quiz-util-slot","moodle-course-util"]},"moodle-mod_quiz-modform":{"requires":["base","node","event"]},"moodle-mod_quiz-questionchooser":{"requires":["moodle-core-chooserdialogue","moodle-mod_quiz-util","querystring-parse"]},"moodle-mod_quiz-quizbase":{"requires":["base","node"]},"moodle-mod_quiz-quizquestionbank":{"requires":["base","event","node","io","io-form","yui-later","moodle-question-qbankmanager","moodle-core-notification-dialogue"]},"moodle-mod_quiz-randomquestion":{"requires":["base","event","node","io","moodle-core-notification-dialogue"]},"moodle-mod_quiz-repaginate":{"requires":["base","event","node","io","moodle-core-notification-dialogue"]},"moodle-mod_quiz-toolboxes":{"requires":["base","node","event","event-key","io","moodle-mod_quiz-quizbase","moodle-mod_quiz-util-slot","moodle-core-notification-ajaxexception"]},"moodle-mod_quiz-util":{"requires":["node"],"use":["moodle-mod_quiz-util-base"],"submodules":{"moodle-mod_quiz-util-base":{},"moodle-mod_quiz-util-slot":{"requires":["node","moodle-mod_quiz-util-base"]},"moodle-mod_quiz-util-page":{"requires":["node","moodle-mod_quiz-util-base"]}}},"moodle-mod_repeatactivity-repeatactivity":{"requires":["base","json-parse"]},"moodle-mod_studio-setbrowse":{"requires":["base","node","json","transition"]},"moodle-mod_studio-setreorder":{"requires":["base","node","event"]},"moodle-message_airnotifier-toolboxes":{"requires":["base","node","io"]},"moodle-block_navigation-navigation":{"requires":["base","io-base","node","event-synthetic","event-delegate","json-parse"]},"moodle-block_workflow-comments":{"requires":["base","overlay","moodle-core-formautosubmit","moodle-core-notification"]},"moodle-block_workflow-todolist":{"requires":["base","node","event"]},"moodle-block_workflow-userinfo":{"requires":["base","event","node","io"]},"moodle-filter_glossary-autolinker":{"requires":["base","node","io-base","json-parse","event-delegate","overlay","moodle-core-event","moodle-core-notification-alert","moodle-core-notification-exception","moodle-core-notification-ajaxexception"]},"moodle-filter_mathjaxloader-loader":{"requires":["moodle-core-event"]},"moodle-editor_atto-editor":{"requires":["node","transition","io","overlay","escape","event","event-simulate","event-custom","node-event-html5","yui-throttle","moodle-core-notification-dialogue","moodle-core-notification-confirm","moodle-editor_atto-rangy","handlebars","timers"]},"moodle-editor_atto-plugin":{"requires":["node","base","escape","event","event-outside","handlebars","event-custom","timers"]},"moodle-editor_atto-menu":{"requires":["moodle-core-notification-dialogue","node","event","event-custom"]},"moodle-editor_atto-rangy":{"requires":[]},"moodle-editor_ousupsub-editor":{"requires":["base","node","event","event-custom","moodle-editor_ousupsub-rangy"]},"moodle-editor_ousupsub-rangy":{"requires":[]},"moodle-report_eventlist-eventfilter":{"requires":["base","event","node","node-event-delegate","datatable","autocomplete","autocomplete-filters"]},"moodle-report_loglive-fetchlogs":{"requires":["base","event","node","io","node-event-delegate"]},"moodle-report_restrictuser-restrictinfo":{"requires":["base","node","moodle-core-tooltip"]},"moodle-gradereport_grader-gradereporttable":{"requires":["base","node","event","handlebars","overlay","event-hover"]},"moodle-gradereport_history-userselector":{"requires":["escape","event-delegate","event-key","handlebars","io-base","json-parse","moodle-core-notification-dialogue"]},"moodle-tool_capability-search":{"requires":["base","node"]},"moodle-tool_editrolesbycap-capabilityformfield":{"requires":["base","dom","event","cookie"]},"moodle-tool_monitor-dropdown":{"requires":["base","event","node"]},"moodle-assignfeedback_editpdf-editor":{"requires":["base","event","node","io","graphics","json","event-move","event-resize","querystring-stringify-simple","moodle-core-notification-dialog","moodle-core-notification-exception","moodle-core-notification-ajaxexception"]},"moodle-quizaccess_offlinemode-autosave":{"requires":["base","node","event","event-valuechange","node-event-delegate","io-form","core_question_engine","mod_quiz"]},"moodle-quizaccess_offlinemode-download":{"requires":["base","node","event","node-event-delegate","json","io-form","moodle-quizaccess_offlinemode-jsencrypt","moodle-quizaccess_offlinemode-sjcl"]},"moodle-quizaccess_offlinemode-jsencrypt":{"requires":[]},"moodle-quizaccess_offlinemode-navigation":{"requires":["base","node","event","event-valuechange","node-event-delegate","io-form","moodle-core-notification-confirm"]},"moodle-quizaccess_offlinemode-sjcl":{"requires":[]},"moodle-atto_accessibilitychecker-button":{"requires":["color-base","moodle-editor_atto-plugin"]},"moodle-atto_accessibilityhelper-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_align-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_bold-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_charmap-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_clear-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_collapse-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_emoticon-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_equation-button":{"requires":["moodle-editor_atto-plugin","moodle-core-event","io","event-valuechange","tabview","array-extras"]},"moodle-atto_html-button":{"requires":["moodle-editor_atto-plugin","event-valuechange"]},"moodle-atto_image-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_indent-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_italic-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_link-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_managefiles-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_managefiles-usedfiles":{"requires":["node","escape"]},"moodle-atto_media-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_noautolink-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_orderedlist-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_ouembed-button":{"requires":["moodle-editor_atto-plugin","moodle-core-event","io","json-parse","get"]},"moodle-atto_oumaths-button":{"requires":["base","moodle-editor_atto-plugin","moodle-core-event","io","event-valuechange","event-simulate","tabview","array-extras"]},"moodle-atto_rtl-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_strike-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_subscript-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_superscript-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_table-button":{"requires":["moodle-editor_atto-plugin","moodle-editor_atto-menu","event","event-valuechange"]},"moodle-atto_title-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_underline-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_undo-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-atto_unorderedlist-button":{"requires":["moodle-editor_atto-plugin"]},"moodle-local_themeextras-rating":{"requires":["base","node","io"]}}},"gallery":{"name":"gallery","base":"https:\/\/learn2.open.ac.uk\/lib\/yuilib\/gallery\/","combine":true,"comboBase":"https:\/\/learn2.open.ac.uk\/theme\/yui_combo.php?","ext":false,"root":"gallery\/1457001084\/","patterns":{"gallery-":{"group":"gallery"}}}},"modules":{"core_filepicker":{"name":"core_filepicker","fullpath":"https:\/\/learn2.open.ac.uk\/lib\/javascript.php\/1457001084\/repository\/filepicker.js","requires":["base","node","node-event-simulate","json","async-queue","io-base","io-upload-iframe","io-form","yui2-treeview","panel","cookie","datatable","datatable-sort","resize-plugin","dd-plugin","escape","moodle-core_filepicker"]},"theme_ou":{"name":"theme_ou","fullpath":"https:\/\/learn2.open.ac.uk\/lib\/javascript.php\/1457001084\/theme\/ou\/module.js","requires":["base","node","dom"]}}};
M.yui.loader = {modules: {}};

//]]>
    </SCRIPT>
    <LINK href="https://learn2.open.ac.uk/theme/yui_combo.php?3.17.2/cssreset/cssreset-min.css&amp;3.17.2/cssfonts/cssfonts-min.css&amp;3.17.2/cssgrids/cssgrids-min.css&amp;3.17.2/cssbase/cssbase-min.css"
          rel="stylesheet" type="text/css">
    <LINK href="https://learn2.open.ac.uk/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple-min.css"
          rel="stylesheet" type="text/css">
    <SCRIPT src="https://learn2.open.ac.uk/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple-min.js&amp;rollup/1457001084/mcore-min.js" type="text/javascript"></SCRIPT>
    <LINK id="yui_3_17_2_2_1461656400712_5" href="https://learn2.open.ac.uk/theme/yui_combo.php?3.17.2/cssbutton/cssbutton-min.css"
          rel="stylesheet" charset="utf-8">
    <SCRIPT id="yui_3_17_2_2_1461656400712_6" src="https://learn2.open.ac.uk/theme/yui_combo.php?3.17.2/widget-base-ie/widget-base-ie-min.js&amp;m/1457001084/core/event/event-min.js&amp;3.17.2/plugin/plugin-min.js&amp;m/1457001084/core/lockscroll/lockscroll-min.js&amp;m/1457001084/core/notification/notification-alert-min.js&amp;m/1457001084/core/notification/notification-exception-min.js&amp;m/1457001084/core/notification/notification-ajaxexception-min.js&amp;m/1457001084/filter_glossary/autolinker/autolinker-min.js" charset="utf-8" async=""></SCRIPT>

    <SCRIPT id="firstthemesheet" type="text/css">
        /** Required in order to fix style inclusion problems in IE with YUI **/
    </SCRIPT>
    <LINK href="https://learn2.open.ac.uk/theme/styles.php/ou/1456906587/all" rel="stylesheet"
          type="text/css">
    <SCRIPT src="https://learn2.open.ac.uk/lib/javascript.php/1457001084/lib/javascript-static.js" type="text/javascript"></SCRIPT>
    <LINK title="L192 TMA 03 (writing)" href="https://learn2.open.ac.uk/mod/oucontent/view.php?id=764189&amp;format=rdf"
          rel="alternate" type="application/rdf+xml">
    <SCRIPT src="https://learn2.open.ac.uk/lib/requirejs.php/1457001084/core/first.js" type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="core/first"></SCRIPT>
</HEAD>
<BODY class="format-studyplan oucontent-hq  path-mod path-mod-oucontent ie ie11 dir-ltr lang-en yui-skin-sam yui3-skin-sam learn2-open-ac-uk pagelayout-standard course-203614 context-1565704 cmid-764189 category-316 side-pre-only ou-variant-ouice ou-ia-student ou-ia-study jsenabled"
      id="page-mod-oucontent-view">
    <DIV class="skiplinks">
        <A class="skip" href="#maincontent">
            Skip to main
            content
        </A>
    </DIV>
    <SCRIPT type="text/javascript">
//<![CDATA[
document.body.className += ' jsenabled';
//]]>
    </SCRIPT>
    <!-- ou-header v1.0.0.331 --> <!-- Google Tag Manager --> <NOSCRIPT>
        &lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPS2SH" height="0"
        width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
    </NOSCRIPT>
    <SCRIPT>
/*<![CDATA[*/   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
   '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-PPS2SH');
   /*]]>*/
    </SCRIPT>
    <!-- End Google Tag Manager -->
    <DIV id="page">
        <DIV id="page-main">
            <DIV id="page-header">
                <DIV class="navbar clearfix">
                    <DIV class="breadcrumb">
                        <SPAN class="accesshide">Page path</SPAN><NAV>
                            <UL>
                                <LI><A title="Bon départ: beginners' French" href="https://learn2.open.ac.uk/course/view.php?id=203614">L192-15J</A></LI>
                                <LI>
                                    <SPAN class="accesshide ">
                                        <SPAN class="arrow_text">/</SPAN>&nbsp;
                                    </SPAN><SPAN class="arrow sep">&nbsp;</SPAN>
                                    <A href="https://learn2.open.ac.uk/mod/subpage/view.php?id=660894">
                                        Assessment
                                        resources
                                    </A>
                                </LI>
                                <LI>
                                    <SPAN class="accesshide ">
                                        <SPAN class="arrow_text">/</SPAN>&nbsp;
                                    </SPAN><SPAN class="arrow sep">&nbsp;</SPAN>
                                    <SPAN tabindex="0" title="Website content">
                                        L192 TMA 03
                                        (writing)
                                    </SPAN>
                                </LI>
                            </UL>
                        </NAV>
                    </DIV>
                </DIV>
                <DIV class="clearer"></DIV>
                <DIV class="deco13"></DIV>
                <DIV class="deco14"></DIV>
                <DIV class="deco15"></DIV>
            </DIV><!-- END OF HEADER -->
            <DIV id="page-content">
                <DIV id="region-main">
                    <DIV id="region-main-inner">
                        <DIV class="deco1"></DIV>
                        <DIV class="deco2"></DIV>
                        <DIV class="region-content">
                            <DIV role="main">
                                <SPAN id="maincontent"></SPAN>
                                <DIV id="middle-column">
                                    <DIV class="oucontent-content">
                                        <H1 class="oucontent-title-0">L192 TMA 03 (writing)</H1>
                                        <DIV id="ouannotate-disable"></DIV>
                                        <DIV class="oucontent-box oucontent-s-heavybox1 oucontent-s-box &#10;        oucontent-s-noheading&#10;      ">
                                            <DIV class="oucontent-outer-box">
                                                <DIV class="oucontent-inner-box">
                                                    <P><B>Cut-off date: Thursday 11 February 2016</B></P>
                                                    <P>
                                                        Make sure you have read the instructions on completing and submitting your
                                                        assignments in the <SPAN class="oucontent-linkwithtip">
                                                            <A class="oucontent-hyperlink"
                                                               href="https://learn2.open.ac.uk/mod/oucontent/view.php?id=738249">
                                                                Assessment
                                                                Guide
                                                            </A><SPAN class="oucontent-sidenote oucontent-linktip">
                                                                <SPAN class="oucontent-sidenote-inner">
                                                                    <SPAN class="accesshide">[</SPAN>Tip: hold Ctrl and click a link to open it in a new
                                                                    tab. (<A href="https://learn2.open.ac.uk/mod/oucontent/hidetip.php?id=764189&amp;tip=linktip">
                                                                        Hide
                                                                        tip
                                                                    </A>)
                                                                </SPAN><SPAN class="accesshide">
                                                                    ]
                                                                </SPAN>
                                                            </SPAN>
                                                        </SPAN>.
                                                    </P>
                                                </DIV>
                                            </DIV>
                                        </DIV>
                                        <P>
                                            You have recently started a new job, a new study course or some other new
                                            activity and you are writing to your friends <B>in French</B> via an online
                                            forum about your daily, weekly, weekend and annual routines (e.g. holidays and
                                            seasonal activities). The information you give can be true or fictional. Your
                                            text should be <B>between 120 and 200 words </B>(advisory length).
                                        </P>
                                        <P>You should include the following information:</P>
                                        <UL class="oucontent-bulleted">
                                            <LI>your daily personal routines</LI>
                                            <LI>
                                                your daily work/study/activity routines (if work, it can be anything
                                                including paid, unpaid or voluntary)
                                            </LI>
                                            <LI>your weekend and holiday routines</LI>
                                            <LI>
                                                what you intend to do the following weekend or on a forthcoming
                                                holiday.
                                            </LI>
                                        </UL>
                                        <P>
                                            You should use the following language structures and vocabulary you have
                                            learned in <I><SPAN lang="fr" lang="fr" xml:lang="fr">Unité</SPAN></I> 5:
                                        </P>
                                        <UL class="oucontent-bulleted">
                                            <LI>pronominal verbs </LI>
                                            <LI>
                                                expressions of time (use figures or write in full, but be
                                                consistent&nbsp;: <I>8&nbsp;h&nbsp;30</I> or <SPAN lang="fr" lang="fr"
                                                                                                   xml:lang="fr"><I> huit heures et demie</I></SPAN>)
                                            </LI>
                                            <LI>days of the week</LI>
                                            <LI>months and seasons </LI>
                                            <LI>job titles and occupations (if applicable)</LI>
                                            <LI>work or study patterns (if applicable)</LI>
                                            <LI>expressing intention.</LI>
                                        </UL>
                                        <P>
                                            <B>
                                                When you have finished, count the number of words and write this number at
                                                the end of your assignment.
                                            </B>
                                        </P>
                                        <P>
                                            <B>
                                                The word limit is advisory. Please consult Section 4 of the <A class="oucontent-hyperlink"
                                                                                                               href="https://learn2.open.ac.uk/mod/oucontent/view.php?id=738249">
                                                    Assessment
                                                    Guide
                                                </A> for further information about word limits.
                                            </B>
                                        </P>
                                        <P>  </P>
                                        <P>
                                            Before submitting your TMA you should read your work carefully, paying
                                            particular attention to the following questions:
                                        </P>
                                        <UL class="oucontent-bulleted">
                                            <LI>Have you provided all of the information required?</LI>
                                            <LI>Have you used pronominal verb forms correctly? </LI>
                                            <LI>Have you used appropriate verb forms to express an intention? </LI>
                                            <LI>
                                                Have you used a range of expressions of time, and used them
                                                correctly?
                                            </LI>
                                            <LI>Is the word order correct?</LI>
                                            <LI>Are the spellings correct?</LI>
                                            <LI>
                                                Have you used a range of language structures and vocabulary appropriate to
                                                the task?
                                            </LI>
                                            <LI>Have you indicated the number of words at the end of your answer?</LI>
                                        </UL>
                                        <DIV class="oucontent-box oucontent-s-heavybox1 oucontent-s-box &#10;        oucontent-s-noheading&#10;      ">
                                            <DIV class="oucontent-outer-box">
                                                <DIV class="oucontent-inner-box">
                                                    <P>
                                                        <B>
                                                            Submit your assignment to arrive by 12.00 noon (UK local time) on the
                                                            cut-off date.
                                                        </B>
                                                    </P>
                                                </DIV>
                                            </DIV>
                                        </DIV>
                                    </DIV>
                                </DIV>
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="clearer"></DIV>
                </DIV>
            </DIV>
            <DIV class="clearer"></DIV>
        </DIV><!-- START OF FOOTER -->
        </DIV>
    <DIV class="moodle-has-zindex" style="position: absolute; z-index: 50;"></DIV>
    <SCRIPT type="text/javascript">
//<![CDATA[
var require = {
    baseUrl : 'https://learn2.open.ac.uk/lib/requirejs.php/1457001084/',
    // We only support AMD modules with an explicit define() statement.
    enforceDefine: true,
    skipDataMain: true,

    paths: {
        jquery: 'https://learn2.open.ac.uk/lib/javascript.php/1457001084/lib/jquery/jquery-1.11.2.min',
        jqueryui: 'https://learn2.open.ac.uk/lib/javascript.php/1457001084/lib/jquery/ui-1.11.4/jquery-ui.min',
        jqueryprivate: 'https://learn2.open.ac.uk/lib/javascript.php/1457001084/lib/requirejs/jquery-private'
    },

    // Custom jquery config map.
    map: {
      // '*' means all modules will get 'jqueryprivate'
      // for their 'jquery' dependency.
      '*': { jquery: 'jqueryprivate' },

      // 'jquery-private' wants the real jQuery module
      // though. If this line was not here, there would
      // be an unresolvable cyclic dependency.
      jqueryprivate: { jquery: 'jquery' }
    }
};

//]]>
    </SCRIPT>

    <SCRIPT src="https://learn2.open.ac.uk/lib/javascript.php/1457001084/lib/requirejs/require.min.js" type="text/javascript"></SCRIPT>

    <SCRIPT type="text/javascript">
//<![CDATA[
require(['core/first'], function() {
;
require(["core/log"], function(amd) { amd.setConfig({"level":"warn"}); });
});
//]]>
    </SCRIPT>

    <SCRIPT type="text/javascript">
//<![CDATA[
M.str = {"moodle":{"lastmodified":"Last modified","name":"Name","error":"Error","info":"Information","ok":"OK","changesmadereallygoaway":"You have made changes. Are you sure you want to navigate away and lose your changes?","viewallcourses":"View all websites","morehelp":"More help","loadinghelp":"Loading...","cancel":"Cancel","yes":"Yes","confirm":"Confirm","no":"No","areyousure":"Are you sure?","closebuttontitle":"Close","unknownerror":"Unknown error"},"repository":{"type":"Type","size":"Size","invalidjson":"Invalid JSON string","nofilesattached":"No files attached","filepicker":"File picker","logout":"Logout","nofilesavailable":"No files available","norepositoriesavailable":"Sorry, none of your current repositories can return files in the required format.","fileexistsdialogheader":"File exists","fileexistsdialog_editor":"A file with that name has already been attached to the text you are editing.","fileexistsdialog_filemanager":"A file with that name has already been attached","renameto":"Rename to \"{$a}\"","referencesexist":"There are {$a} alias\/shortcut files that use this file as their source","select":"Select"},"admin":{"confirmation":"Confirmation"}};
//]]>
    </SCRIPT>

    <SCRIPT type="text/javascript">
//<![CDATA[
var navtreeexpansions4 = [{"id":"expandable_branch_30_401908","key":"401908","type":30},{"id":"expandable_branch_30_401909","key":"401909","type":30},{"id":"expandable_branch_30_401912","key":"401912","type":30},{"id":"expandable_branch_30_401913","key":"401913","type":30},{"id":"expandable_branch_30_401915","key":"401915","type":30},{"id":"expandable_branch_30_401918","key":"401918","type":30},{"id":"expandable_branch_30_401919","key":"401919","type":30},{"id":"expandable_branch_30_401924","key":"401924","type":30},{"id":"expandable_branch_30_401927","key":"401927","type":30},{"id":"expandable_branch_30_401928","key":"401928","type":30},{"id":"expandable_branch_30_401931","key":"401931","type":30},{"id":"expandable_branch_30_401934","key":"401934","type":30},{"id":"expandable_branch_30_401935","key":"401935","type":30},{"id":"expandable_branch_30_401939","key":"401939","type":30},{"id":"expandable_branch_30_401942","key":"401942","type":30},{"id":"expandable_branch_30_401943","key":"401943","type":30},{"id":"expandable_branch_30_401946","key":"401946","type":30},{"id":"expandable_branch_30_401949","key":"401949","type":30},{"id":"expandable_branch_0_mycourses","key":"mycourses","type":0}];
//]]>
    </SCRIPT>

    <SCRIPT type="text/javascript">
//<![CDATA[
YUI().use('node', function(Y) {
M.util.load_flowplayer();
setTimeout("fix_column_widths()", 20);
Y.use("moodle-filter_glossary-autolinker",function() {M.filter_glossary.init_filter_autolinking({"courseid":0});
});
Y.use("moodle-mod_oucontent-oucontent","base","node","event","transition","swf","dom","dd","dd-scroll","anim","escape",function() {M.mod_oucontent.init([], {"switch_plus":"https:\/\/learn2.open.ac.uk\/theme\/image.php\/ou\/core\/1456906587\/t\/switch_plus"});
});
Y.use("moodle-block_navigation-navigation",function() {M.block_navigation.init_add_tree({"id":"4","instance":"4","candock":false,"courselimit":"20","expansionlimit":0});
});
Y.use("moodle-block_navigation-navigation",function() {M.block_navigation.init_add_tree({"id":"5","instance":"5","candock":false});
});
 M.util.js_pending('random571f1b5183a801'); Y.use('theme_ou', function(Y) { M.theme_ou.layout.init(Y);  M.util.js_complete('random571f1b5183a801'); });
Y.use("moodle-local_annotate-alwayson",function() {M.local_annotate.init({"bootstrap":"https:\/\/students.open.ac.uk\/annotate\/bookmarklet\/bootstrap.js"});
});
M.util.help_popups.setup(Y);
Y.use("moodle-core-popuphelp",function() {M.core.init_popuphelp();
});
M.util.init_block_hider(Y, {"id":"inst4","title":"Navigation","preference":"block4hidden","tooltipVisible":"Hide Navigation block","tooltipHidden":"Show Navigation block"});
 M.util.js_pending('random571f1b5183a804'); Y.on('domready', function() { M.util.js_complete("init");  M.util.js_complete('random571f1b5183a804'); });

});
//]]>
    </SCRIPT>

    <SCRIPT type="text/javascript">var mcDaysToSet=365,mcExpDate=new Date;mcExpDate.setDate(mcExpDate.getDate()+mcDaysToSet);document.cookie="VLE\x3dy;path\x3d/;domain\x3dopen.ac.uk; expires\x3d "+mcExpDate.toUTCString();</SCRIPT>
</BODY>
</HTML>
